<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Graça & Ritmo</title>
		<link
			rel="icon"
			href="./../view/assets/favicon.svg"
		/>
		<link
			rel="stylesheet"
			href="./css/mainStyle.css"
		/>
		<link
			rel="stylesheet"
			href="./css/sliderStyle.css"
		/>
	</head>

	<body>
		<header>
			<!-- Logo -->
			<a
				href="#"
				class="logo"
			>
				<img
					src="./../view/assets/logo.png"
					alt=""
				/>
			</a>
			<nav>
				<!-- Barra de navegação -->
				<a
					href="#"
					class="body link-text"
					>Início</a
				>
				<a
					href=""
					class="body link-text"
					>Modalidades</a
				>
				<a
					href=""
					class="body link-text"
					>Quem somos</a
				>
				<button class="button button-action">Entrar</button>
			</nav>
		</header>
		<main>
			<!-- Slide -->
			<section id="slider-container">
				<div id="slider-control-container">
					<div class="slider-control"></div>
					<div class="slider-control"></div>
					<div class="slider-control"></div>
				</div>
				<div class="slider">
					<!-- Slide -->
					<div class="slide">
						<img
							src="./assets/slider/slide-1.png"
							alt="Bachata"
						/>
						<div>
							<h2 class="h1">Bachata</h2>
							<p class="body">
								Gênero de dança e música quente e envolvente. Saia do zero e
								torne-se um especialista em todas as vertentes dessa dança
								maravilhosa
							</p>
							<button class="button button-action">
								Aula Experimental Grátis
							</button>
						</div>
					</div>
					<!-- Slide -->
					<div class="slide">
						<img
							src="./assets/slider/slide-2.png"
							alt="Bachata"
						/>
						<div>
							<h2 class="h1">Bachata</h2>
							<p class="body">
								Gênero de dança e música quente e envolvente. Saia do zero e
								torne-se um especialista em todas as vertentes dessa dança
								maravilhosa
							</p>
							<button class="button button-action">
								Aula Experimental Grátis
							</button>
						</div>
					</div>
					<!-- Slide -->
					<div class="slide">
						<img
							src="./assets/slider/slide-3.png"
							alt="Bachata"
						/>
						<div>
							<h2 class="h1">Bachata</h2>
							<p class="body">
								Gênero de dança e música quente e envolvente. Saia do zero e
								torne-se um especialista em todas as vertentes dessa dança
								maravilhosa
							</p>
							<button class="button button-action">
								Aula Experimental Grátis
							</button>
						</div>
					</div>
				</div>
			</section>
			<!-- Vantagens -->
			<section class="dark-section">
				<h2 class="h1">Vantagens</h2>
			</section>
			<!-- Conteúdo principal da página aqui -->
			<!-- <p>teste</p> -->
			<p class="h0">Testando classe H0</p>
			<p class="h1">Testando classe H1</p>
			<p class="h2">Testando classe H2</p>
			<p class="body">Testando classe body</p>
			<button class="button button-action">clique aqui</button>
			<!-- Conteúdo principal da página aqui -->
		</main>
		<footer>
			<!-- Rodapé da página aqui -->
			<div>
				<section>
					<!-- Logo -->
					<a
						href=""
						class="logo"
					>
						<img
							src="./assets/logo.png"
							alt="Graça e Ritmo"
						/>
					</a>
				</section>
				<section id="footer-links">
					<!-- Links -->
					<a
						href="#"
						class="body link-text"
						>Modalidades</a
					>
					<a
						href="#"
						class="body link-text"
						>Matrículas</a
					>
					<a
						href="#"
						class="body link-text"
						>Quem somos</a
					>
					<a
						href="#"
						class="body link-text"
						>Eventos</a
					>
					<button class="button button-action">Fale Conosco</button>
				</section>
			</div>
			<p>© Todos os direitos reservados 2025</p>
		</footer>
		<script src="./../controller/sliderControl.js"></script>
	</body>
</html>
